@import './vars.scss';
@import './contextMenu.scss';
@import './tree.scss';

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
}
ul,ol,li{
    list-style: none;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}