body {
    padding: 0;
    margin: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

.vue-tree-container {
    width: 100%;
    height: 100%;
}

.vue-tree-link-base {
    fill: none;
    stroke: #000;
}