$tree: v-tree;
.#{$tree}__container {
    width: 100%;
    height: 100%;
}

.#{$tree}--grabbable {
    cursor: move;
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

.#{$tree}__link-base {
    fill: none;
    stroke: #D8DCE5;
    stroke-width: 1px;
}

.#{$tree}__node-base {
    &:hover{
        .#{$tree}__collapse-icon  {
            opacity: 1;
            circle{
                transform: scale(1);
            }
        }
    }
}
.#{$tree}__collapse-icon {
    cursor: default;
    opacity: 0;
    transition: all linear 0.3s;
    circle {
        fill: #D8DCE5;
        transform: scale(0);
    }
}


